<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Location</title>
    <span th:include="base::bootstrap_link"></span>
</head>
<body style="background-color: whitesmoke">
<span th:replace="base::navlinks"></span>
<div class="container" style="margin-top: 40px">
    <h2>Location</h2>
    <hr/>
    <div class="form-group row" style="margin-top: 50px">
        <div class="col-sm-4">
            <h3>S Summit Ave</h3>
            <h4>Gaithersburg, MD 20877</h4>
            <br/>
            <h5>Phone: (555) 555-5555</h5>
        </div>
        <div class="col-sm-4">
            <img src="logo/location.JPG" id="location_image" style="margin-top: -20px"/>
        </div>
    </div>
</div>
</body>
</html>