<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <span th:include="base::bootstrap_link"></span>
</head>
<body>
<span th:replace="base::navlinks"></span>
<div class="container">
    <form th:action="@{/register}"
          th:object="${user}"
          method="post">

        <div class="form-group row">
            <div class="col-sm-4">
                <h3>First Name</h3>
                <input type="text" class="form-control" id="firstName"
                       placeholder="First Name" th:field="*{firstName}">
                <span th:if="${#fields.hasErrors('firstName')}"><small style="color: red">First name at least has to be 3 characters.</small></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <h3>Last Name</h3>
                <input type="text" class="form-control" id="lastName"
                       placeholder="Last Name" name="lastName" th:field="*{lastName}">
                <span th:if="${#fields.hasErrors('lastName')}"><small style="color: red">Last name at least has to be 3 characters.</small></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <h3>Email</h3>
                <input type="text" class="form-control" id="email"
                       placeholder="Email" name="email" value="" th:field="*{email}">
                <span th:if="${#fields.hasErrors('email')}"><small style="color: red">Email at least has to be 3 characters.</small></span>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <h3>Username</h3>
                <input type="text" class="form-control" id="username"
                       placeholder="Username" name="username" th:field="*{username}">
            <span th:if="${#fields.hasErrors('username')}"><small style="color: red">Username at least has to be 3 characters.</small></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <h3>Password</h3>
                <input type="password" class="form-control" id="password"
                       placeholder="Password" name="password" th:field="*{password}">
            <span th:if="${#fields.hasErrors('password')}"><small style="color: red">Password at least has to be 3 characters.</small></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>