<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Toppings</title>
    <span th:include="base::bootstrap_link"></span>
</head>
<body>
<span th:replace="base::admin_nav"></span>
<div class="container">
    <h2>List of toppings</h2>
    <a th:href="@{/admin/addtopping}"><button class="btn btn-info btn center-block">Add Topping</button></a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Topping</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="topping : ${toppings}">
            <td>[[${topping.name}]]</td>
            <td>
                <a th:href="@{/admin/edittopping/{id} (id=${topping.id})}"><button class="btn btn-default">Edit</button></a>
                <a th:href="@{/admin/deletetopping/{id} (id=${topping.id})}"><button class="btn btn-danger">Remove</button></a>

            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
</div>

</body>
</html>